<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../../static/style.css">
	<title>Add Movie</title>
</head>

<body>
	<form action="" method="post">
		<div>
			<label for="Title">Movie</label>
			<input type="text" name="Title">
		</div>
		<div>
			<label for="Genre">Genre</label>
			<select name="GenreList">
				<option value="1">Comedy</option>
				<option value="2">Action</option>
				<option value="3">Horror</option>
				<option value="4">Romance</option>
			</select>
		</div>
		<button type="submit">Submit</button>
	</form>

</body>

</html>